Repository weave0/Lena: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "npx eslint --fix",
    "npx prettier --write"
  ],
  "*.{json,md,css}": [
    "npx prettier --write"
  ]
}

feat: add deployment configs for Vercel, Railway, Azure, and Expo
  deploy.ps1
  docs/DEPLOYMENT.md
  railway.toml
  vercel.json
  web/package.json
Due: npx prettier --write

docs: update repository URL
  package.json
Due: npx prettier --write

refactor: rename project from MeetConnect to Lena
  .env.example
  backend/package.json
  backend/prisma/schema.prisma
  docker-compose.yml
  lena.code-workspace
  mobile/app.json
  mobile/package.json
  package.json
  web/package.json
  web/src/pages/HomePage.tsx
Due: npx eslint --fix, npx prettier --write

build: fix build scripts and TypeScript configs
  backend/package.json
  backend/tsconfig.json
  package-lock.json
  package.json
  web/package.json
Due: npx prettier --write

fix: add nginx.conf, .dockerignore and update Dockerfile for Railway deployment
  .dockerignore
  Dockerfile
  railway.toml
  web/Dockerfile
  web/nginx.conf
Due: none

docs: add deployment status guide and environment variable templates
  DEPLOYMENT_STATUS.md
  web/.env.example
Due: npx prettier --write

docs: add quick deployment checklist
  DEPLOY_CHECKLIST.md
Due: npx prettier --write

feat: add continuous deployment workflow and enhancement roadmap
  .github/workflows/deploy.yml
  CONTINUOUS_ENHANCEMENT.md
Due: npx prettier --write

docs: add final deployment status and celebration
  .github/workflows/deploy.yml
  FINAL_STATUS.md
Due: npx prettier --write

feat: add deployment verification script
  verify-deployment.ps1
Due: none

feat: implement full authentication and database integration
  backend/package.json
  backend/prisma/migrations/20251121013622_init/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/src/controllers/activity.controller.ts
  backend/src/controllers/auth.controller.ts
  backend/src/controllers/user.controller.ts
  backend/src/middleware/auth.middleware.ts
  backend/src/routes/activity.routes.ts
  backend/src/routes/auth.routes.ts
  backend/src/routes/user.routes.ts
  docker-compose.yml
  package-lock.json
  web/.gitignore
  web/package.json
  web/src/lib/api.ts
  web/src/pages/LoginPage.tsx
  web/src/store/authStore.ts
Due: npx eslint --fix, npx prettier --write

feat: add Netlify configuration and production build
  FUNCTIONALITY_UPDATE.md
  netlify.toml
  package-lock.json
  package.json
Due: npx prettier --write

docs: add Netlify deployment guide
  NETLIFY_DEPLOY.md
Due: npx prettier --write

feat: add Netlify GitHub Actions deployment workflow
  .github/workflows/netlify-deploy.yml
  .gitignore
  netlify.toml
Due: none
